/* custom width classes w-20 & w-30 */
.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.logo-text {
    width: 120px;
}

.bi {
    margin-right: 14px;
}

.story {
    height: 60px;
}

.dp {
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;
}

.image {
    width: 450px;
    border-radius: 5px;
}

.profile_switch h5 {
    font-family: sans-serif;
    font-size: 12px;
    margin-bottom: 0;
}

.profile_switch .dp {
    height: 38px;
}

.sugg_context {
    font-family: sans-serif;
    font-weight: 32;
}