/* custom width classes w-20 & w-30 */
.w-20 {
    width: 20%;
}

.w-35 {
    width:35%;
}

.logo-text {
    width: 120px;
}

.bi {
    margin-right: 14px;
}

.dp {
    height: 36px;
    width: 36px;
    margin-right: 5px;
}

.post-uname {
    margin-top: 12px;
    font-size: 14px;
}

.image {
    width: 500px;
    border-radius: 5px;
}

.post .dp, .likes_count, .caption {
    margin-left: 10px;
    margin-right: 5px;
}

.lcs {
    margin-left: 14px;
    margin-right: 5px;
}

.profSwitch_Suggestion {
    margin-top: 12px;
}
.profile_switch h5 {
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 0;
}

.profile_switch .dp, .suggestions .dp {
    height: 40px;
    width: 40px;
}

.suggestions .dp {
    margin-left: 6px;
}

.sugg_text-mt {
    margin-top: 8px;
}

.sugg_for_you {
    font-weight: 500;
}

.sugg_context {
    font-family: sans-serif;
    font-weight: 32;
}

.stories {
    height: 120px;
}

.story {
    margin-top: 28px;
}

.gradient-border {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff00ff, #ff6600, #ffcc00);
}

.white-border {
    width: 61px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;    
}

.story-dp {
    width: 57px;
    height: 57px;
}

.story-uname {
    font-size: 14px;
}

.profile-handle {
    margin-top: 8px;
    margin-left: 400px;
}

.unfollow-text {
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    margin-right: 10px;
}